<!-- markup -->
<div class="info">
    <a href="/" onclick="route()" class="title unmodified"></a>
    <div class="links">
        <div class="pages unmodified"></div>
        <div class="accounts unmodified"></div>
    </div>
</div>

<!-- style -->
<style>
    .info {
        /* flex */
        display: flex;
        gap: 2rem;
    }
    @media only screen and (min-width: 720px) { .info {
        /* flex */
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* layout */
        padding: 2rem 0 2rem 2rem;
    }}
    @media only screen and (max-width: 719px) { .info {
        /* flex */
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        /* layout */
        padding: 1.5rem 0 1.5rem 0;
    }}

    .info .title {
        /* font */
        font-size: 2em;
        font-family: var(--font-serif);
        font-weight: 700;
        /* colors */
        color: var(--color-text);
    }

    .info .title span {
        /* layout */
        position: relative;
        /* anim */
        animation: title-bounce 4s ease infinite;
    }

    @keyframes title-bounce {
        0% {
            top: -0.5em;
        }
        50% {
            top: 0em;
        }
        100% {
            top: -0.5em;
        }
    }

    .info .links {
        /* flex */
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .info .links .accounts,
    .info .links .pages {
        /* flex */
        display: flex;
        flex-direction: column;
        /* layout */
        opacity: 0;
        /* anim */
        transition: opacity 1s ease;
    }

    .info .links .accounts.modified,
    .info .links .pages.modified {
        /* layout */
        opacity: 1;
    }

    .info .links .pages a {
        /* colors */
        color: var(--color-text);
    }
</style>